<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Permission to access the internet for map features -->
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <!-- Additional permission for accessing device location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- Main activity for launching the map application -->
    <application
        android:label="MyMap"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MyMap"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>